*{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
#all-inputs{
    background-color: lightblue;
    width: 35vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}
body{
    background-color: #454545;
}
main{
    margin:25px;
}
.input{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; 
}
input[type="number"]{
    padding: 10px;
}
.butdiv{
    margin: 10px;
}
button{
    padding: 10px;
    border-radius: 1.5rem;
}
button:hover{
    cursor: pointer;
}
#results{
    background-color: lightblue;
    width: 35vw;
    margin: 20px auto;
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}
#results p{
    margin: 2px;
    text-align: center;
}
